{% extends "base.html" %}

{% block content %}
<h2>Admin Dashboard</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>
    {{ user[2] }}
    {% if user[1] != session["user"] %}
        {% if user[2] == "user" %}
            <a href="/admin/update-role/{{ user[0] }}/admin">Promote</a>
        {% else %}
            <a href="/admin/update-role/{{ user[0] }}/user">Demote</a>
        {% endif %}
    {% endif %}
        </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
